.personal-info-block {
  line-height: 0.5;
  margin-bottom: 5px;
}

.recipient-info-block {
  line-height: 0.5;
  margin-bottom: 5px;
}

.cover-letter-header {
  margin-top: 20px;
  margin-bottom: 35px;
}
